:root {
  --text: #000;
  --blue: #039be5;
  --red: #ea736d;
  --yelou: #fbdc4d;
}
* {
  box-sizing: border-box;
}
.none {
  display: none;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
body.nonescroll {
  overflow: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}
a::selection {
  background: var(--yelou);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
span {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--text);
  margin: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
li::selection {
  background: var(--yelou);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input,
textarea {
  outline: none;
}
input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    min-width: 360px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 745px;
    min-width: auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.bottom-line-hover::after {
  content: "";
  height: 10px;
  width: 0%;
  background-color: var(--yelou);
  position: absolute;
  left: -5px;
  bottom: 10px;
  z-index: -1;
  transition: 0.5s;
}
.bottom-line-hover:hover::after {
  width: 110%;
}
.bottom-line {
  display: inline-block;
  position: relative;
}
.bottom-line::after {
  content: "";
  height: 12px;
  width: 101%;
  background-color: var(--yelou);
  position: absolute;
  left: -3px;
  bottom: 10px;
  z-index: -1;
}
.section-information_button {
  display: none;
}
@media (min-width: 1200px) {
  .section-information_button {
    display: block;
  }
}
.btn {
  padding-left: 40px;
  padding-right: 37px;
  height: 64px;
  line-height: 56px;
  border-radius: 50px;
  border: 4px solid var(--yelou);
  background-color: var(--yelou);
  color: var(--text);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffd200;
}
.btn:active {
  background-color: #e1bc10;
}
.btn__light {
  background-color: #fff;
  border-color: #464646;
  color: #464646;
}
.btn__light:hover {
  background-color: #fff;
  border: 4px solid #797979;
  color: #797979;
}
.btn__light:active {
  color: #1c1c1c;
  border: 4px solid #1c1c1c;
}
.social-nav {
  display: flex;
  position: relative;
  z-index: 1;
}
.social-nav > * + * {
  margin-left: 30px;
}
@media (min-width: 1200px) {
  .social-nav > * + * {
    margin-left: 33px;
  }
}
#github-icn_size,
#github-size,
#git-size {
  width: 50px;
  height: 50px;
}
.git {
  fill: #212121;
}
.social-link svg {
  vertical-align: middle;
}
.github-icn::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  z-index: -2;
  transition: .5s;
  transform: translate(-51%, -50%);
}
.github-icn::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
}
.github-icn:hover::after {
  background-color: rgba(251, 219, 75, 0.501);
}
.github-icn:active::after {
  background-color: rgba(234, 115, 109, 0.501);
}
.social-link::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  transition: .5s;
  transform: translate(-51%, -50%);
  z-index: -1;
}
.social-link {
  position: relative;
  display: flex;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
}
.social-link:hover::after {
  background-color: rgba(251, 219, 75, 0.501);
}
.social-link:active::after {
  background-color: rgba(234, 115, 109, 0.501);
}
.telegram-icn {
  background-color: #039be5;
  padding: 12px;
  line-height: unset;
  text-align: unset;
}
.vk-icn {
  background-color: #4d76a1;
}
.facebook-icn {
  background-color: #3b5998;
}
.svg-inline--fa {
  width: auto;
  height: 26px;
}
a svg .color-icn {
  fill: white;
}
.title-h2 {
  font-size: 64px;
  font-weight: 800;
}
h3.title-h3 {
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 1200px) {
  h3.title-h3 {
    font-size: 40px;
  }
}
.title-h4 {
  font-size: 32px;
  font-weight: 700;
}
.title-h5 {
  font-size: 26px;
  font-weight: 700;
}
#back-top {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 5;
  font-size: 50px;
  color: var(--red);
  font-weight: 700;
  transition: .5s;
}
#back-top:hover {
  color: #8b0881;
}
#back-top:active {
  color: green;
}
#arrow-size {
  width: 50px;
  height: 50px;
}
#page-nav {
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 5;
  }
}
#page-nav li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(139, 8, 128, 0.7);
  transition: .5s;
}
#page-nav li:hover {
  background-color: #8b0880;
}
#page-nav li + li {
  margin-top: 20px;
}
#page-nav li a {
  height: 100%;
  display: block;
}
#page-nav li.active {
  background-color: rgba(0, 128, 1, 0.7);
}
#page-nav li.active:hover {
  background-color: #008001;
}
.header {
  padding: 16px 0 94px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: auto;
    padding: 83px 0 240px;
    background-image: url(../img/header-img/bg/header-bg.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
  }
}
.header-nav {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .header-nav {
    width: auto;
    margin: 0 auto;
  }
}
.header-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 285px;
}
@media (min-width: 420px) {
  .header-nav__container {
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .header-nav__container {
    padding: 0 15px;
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .header-nav__container {
    max-width: 870px;
  }
}
@media (min-width: 1200px) {
  .header-nav__container {
    padding: 0;
    max-width: 1410px;
    max-width: auto;
  }
}
.logo .bottom-line {
  position: relative;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  z-index: 1;
  color: var(text);
}
.logo .bottom-line::after {
  content: "";
  height: 10px;
  width: 105%;
  background-color: var(--yelou);
  left: -5px;
  bottom: 5px;
  transition: background .5s;
}
.logo:hover .bottom-line::after {
  content: "";
  background-color: #ea736d;
}
.main-header {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .main-header {
    max-width: 395px;
    font-weight: 800;
    font-size: 52px;
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
  .main-header {
    font-size: 90px;
    line-height: 1.17;
  }
}
.header-inner-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header-inner-nav {
    display: block;
  }
  .header-inner-nav a {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    z-index: 9;
  }
}
.header-inner-nav > * + * {
  margin-left: 65px;
}
.header-inner-nav .bottom-line-hover::after {
  content: "";
  height: 6px;
  left: -5px;
  bottom: 1px;
}
.header-inner-nav .bottom-line-hover:focus {
  border: 4px dotted var(--red);
}
.header-nav-icn {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav-icn {
    display: block;
  }
}
.header-nav-icn a svg path {
  transition: fill .5s;
}
.header-nav-icn a:hover svg .hover-in {
  fill: #0077b5;
}
.header-nav-icn a:hover svg .hover-git {
  fill: #6cc644;
}
.header-nav-icn a:hover svg .hover-vk {
  fill: #45668e;
}
.toggle-menu {
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  z-index: 10;
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #000;
  transition: .5s;
}
.toggle-menu span:before,
.toggle-menu span:after {
  transition: .5s;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
}
.toggle-menu span:before {
  top: -10px;
}
.toggle-menu span:after {
  bottom: -10px;
}
.header-nav__container .active {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-24px, 30px);
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span:before {
  transform: rotate(45deg);
  top: 0;
}
.toggle-menu.active span:after {
  transform: rotate(-45deg);
  top: 0;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.header-nav-icn > * + * {
  margin-left: 20px;
}
@media (min-width: 1200px) {
  #head-nav__in-size {
    width: 28px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  #head-nav__git-size {
    width: 28px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  #head-nav__vk-size {
    width: 32px;
    height: auto;
  }
}
.head-nav_icn-color {
  fill: #000;
}
.section-information-wrapper {
  padding-top: 33px;
}
@media (min-width: 768px) {
  .section-information-wrapper {
    padding-top: 73px;
  }
}
@media (min-width: 1200px) {
  .section-information-wrapper {
    padding-top: 155px;
  }
}
@media (min-width: 768px) {
  .section-information {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .section-information {
    position: relative;
  }
}
.section-information__left {
  min-width: 279px;
  position: relative;
  z-index: 2;
  margin-bottom: 41px;
}
@media (min-width: 425px) {
  .section-information__left {
    margin-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .section-information__left {
    margin-bottom: 0;
    padding-top: 10px;
    min-width: auto;
    width: 60%;
    max-width: 395px;
    order: 1;
  }
  .section-information__left br {
    display: none;
  }
}
@media (min-width: 992px) {
  .section-information__left {
    width: 69%;
    max-width: 756px;
  }
}
@media (min-width: 1200px) {
  .section-information__left {
    margin-bottom: 0;
    width: 60%;
    padding-top: 0;
    min-width: auto;
  }
}
.section-information__header {
  margin-bottom: 28px;
}
.section-information__header span {
  position: relative;
  z-index: 9;
}
@media (min-width: 768px) {
  .section-information__header {
    margin-bottom: 19px;
  }
}
@media (min-width: 1200px) {
  .section-information__header {
    margin-bottom: 13px;
  }
}
span.bottom-line::after {
  content: "";
  height: 12px;
  width: 105%;
  bottom: 2px;
}
@media (min-width: 768px) {
  span.bottom-line::after {
    content: "";
    height: 12px;
    width: 102%;
    bottom: 6px;
  }
}
@media (min-width: 1200px) {
  span.bottom-line::after {
    content: "";
    height: 12px;
    width: 102%;
    bottom: 14px;
  }
}
.section-information__text {
  margin-bottom: 34px;
}
.section-information__text p {
  color: #393f47;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.66;
}
@media (min-width: 576px) {
  .section-information__text {
    width: 368px;
  }
}
@media (min-width: 768px) {
  .section-information__text {
    width: 347px;
  }
}
@media (min-width: 992px) {
  .section-information__text {
    width: 440px;
  }
}
@media (min-width: 1200px) {
  .section-information__text {
    width: 500px;
  }
  .section-information__text p {
    font-size: 24px;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .section-information_gradient {
    padding-top: 23px;
    min-width: 457px;
    height: 433px;
    top: 0;
    right: 0;
    position: absolute;
  }
  .section-information_gradient::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(28%, 30%);
    background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  }
  .section-information_gradient img {
    min-width: 100%;
  }
}
.section-information_img {
  min-width: 290px;
  height: 290px;
  margin-bottom: 54px;
  overflow: hidden;
}
@media (min-width: 576px) {
  .section-information_img {
    min-width: 330px;
    height: 330px;
  }
}
@media (min-width: 768px) {
  .section-information_img {
    margin-bottom: 0;
    min-width: auto;
    width: 290px;
    height: 290px;
    order: 2;
    position: relative;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .section-information_img {
    padding-top: 23px;
    min-width: auto;
    min-width: 457px;
    height: 433px;
  }
  .section-information_img img {
    min-width: 100%;
  }
}
.section-information_button {
  display: none;
}
@media (min-width: 1200px) {
  .section-information_button {
    display: block;
  }
}
.header-image {
  margin: 0 auto;
  margin-bottom: 73px;
}
.header-image img {
  transform: scale(1.8);
}
@media (min-width: 425px) {
  .header-image {
    max-width: 425px;
    margin-bottom: 70px;
  }
  .header-image img {
    margin-top: -59px;
    transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header-image {
    max-width: 576px;
    margin-bottom: 20px;
  }
  .header-image img {
    margin-top: -59px;
    transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header-image {
    margin-bottom: 0;
    max-width: 768px;
    margin-top: -2px;
  }
  .header-image img {
    margin-top: -59px;
    transform: scale(1);
  }
}
@media (min-width: 992px) {
  .header-image {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .header-image {
    max-width: 1600px;
    margin-bottom: -21px;
  }
  .header-image img {
    margin-top: -130px;
  }
}
@media (min-width: 1200px) {
  .section-information_button > * + * {
    margin-left: 12px;
  }
}
@media (min-width: 768px) {
  .skills-wrapper {
    padding-top: 9px;
  }
}
@media (min-width: 1200px) {
  .skills-wrapper {
    padding-top: 102px;
    margin-top: -120px;
  }
}
.skills {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .skills {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .skills__left {
    width: 52%;
    max-width: 372px;
  }
}
@media (min-width: 992px) {
  .skills__left {
    width: 60%;
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .skills__left {
    max-width: unset;
    width: 69%;
  }
}
.skills__left .btn {
  display: none;
}
@media (min-width: 1200px) {
  .skills__left .btn {
    display: inline-block;
    padding: 0 35px;
  }
}
.skills__left ul {
  width: 234px;
  margin-bottom: 30px;
}
.skills__left ul li {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text);
}
@media (min-width: 576px) {
  .skills__left ul {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .skills__left ul {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .skills__left ul {
    width: auto;
    margin-bottom: 43px;
  }
  .skills__left ul li {
    padding-left: 31px;
    margin-bottom: 8px;
    font-size: 24px;
    position: relative;
  }
  .skills__left ul li::after {
    content: "";
    width: 23px;
    height: 2px;
    transform: translate(0%, 16px);
    background-color: var(--text);
    position: absolute;
    top: 0;
    left: 0;
  }
}
.skills__left-title {
  margin-bottom: 19px;
}
@media (min-width: 1200px) {
  .skills__left-title {
    margin-bottom: 27px;
  }
}
.skills__right-title {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .skills__right-title {
    margin-bottom: 19px;
  }
}
@media (min-width: 1200px) {
  .skills__right-title {
    margin-bottom: 32px;
  }
}
.skills__right .text-link {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
  position: relative;
}
.skills__right .text-link:hover {
  color: var(--blue);
}
.skills__right .text-link:active {
  color: var(--red);
}
@media (min-width: 768px) {
  .skills__right {
    width: 48%;
    max-width: 339px;
  }
  .skills__right .text-link {
    margin-top: 9px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .skills__right {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .skills__right {
    width: 31%;
  }
  .skills__right .text-link {
    margin-top: 21px;
    font-size: 24px;
  }
}
.text-link::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 4px;
  left: 0;
  position: absolute;
  background-color: var(--text);
}
.text-link:hover::after {
  background-color: var(--blue);
}
.text-link:active::after {
  background-color: var(--red);
}
.section-portfolio {
  padding-top: 47px;
  padding-bottom: 95px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 61px;
    padding-bottom: 78px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 97px;
    padding-bottom: 120px;
  }
}
.section-portfolio h2 {
  font-size: 42px;
}
@media (min-width: 768px) {
  .section-portfolio h2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio h2 {
    font-size: 64px;
  }
}
.section-portfolio_works {
  padding-top: 4px;
}
@media (min-width: 1200px) {
  .section-portfolio_works {
    padding-top: 12px;
  }
}
.portfolio-content {
  padding-top: 36px;
}
@media (min-width: 768px) {
  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 47px;
  }
}
.section-portfolio .bottom-line {
  width: fit-content;
  position: relative;
  z-index: 2;
}
.section-portfolio .bottom-line::after {
  content: "";
  bottom: 10px;
  width: 102%;
}
@media (min-width: 768px) {
  .section-portfolio .bottom-line::after {
    content: "";
    bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio .bottom-line::after {
    content: "";
    bottom: 19px;
  }
}
.all-projects {
  font-size: 20px;
  line-height: 1.2;
  color: var(--blue);
  position: relative;
  margin-top: 40px;
}
.all-projects::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
}
@media (min-width: 768px) {
  .all-projects {
    margin-top: 37px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}
.overlay.active {
  display: block;
}
.mobile-menu {
  padding-top: 24px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: #fff;
  z-index: 5;
  transform: translateX(100%);
  transition: .5s;
}
.mobile-menu .social-nav {
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .mobile-menu {
    min-width: auto;
    max-width: 320px;
  }
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active-menu {
  transform: translateX(0);
}
.mobile-menu_container {
  width: 260px;
  margin: 0 auto;
}
.mobile-menu_nav {
  padding-top: 37px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}
.mobile-menu_nav a {
  color: var(--text);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  position: relative;
  transition: .5s;
}
.mobile-menu_nav a:hover {
  color: var(--red);
}
.mobile-menu_nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text);
  transition: .5s;
}
.mobile-menu_nav a:hover::after {
  background-color: var(--red);
}
.mobile-menu_nav div {
  margin-bottom: 26px;
}
.mobile-menu_nav div:last-child {
  margin-bottom: 0;
}
.mobile-menu nav.social-nav > * + * {
  margin-left: 20px;
}
.mobile-menu .mail-adress {
  color: var(--blue);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
}
.mobile-menu .mail-adress::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: var(--blue);
}
.mobile-menu .mail-adress::after:active::after {
  background-color: var(--red);
}
.portfolio-big-card__link {
  display: block;
  max-width: 290px;
  width: 100%;
  margin-bottom: 9px;
  transition: .5s;
}
.portfolio-big-card__link:first-child .big-card__img {
  margin-bottom: 22px;
}
.portfolio-big-card__link:first-child h4 {
  margin-bottom: 11px;
}
.portfolio-big-card__link:first-child img {
  transform: scale(1.1);
}
.portfolio-big-card__link:nth-child(2) {
  margin-bottom: 47px;
}
.portfolio-big-card__link:nth-child(2) .big-card__img {
  margin-bottom: 20px;
  position: relative;
}
.portfolio-big-card__link:nth-child(2) h4 {
  margin-bottom: 5px;
}
.portfolio-big-card__link:nth-child(2) .unit-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 2, 0.323);
  z-index: 1;
}
.portfolio-big-card__link:nth-child(2) .unit-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 800;
  font-family: sans-serif;
  letter-spacing: 5px;
  color: #fff;
  z-index: 1;
}
.portfolio-big-card__link:hover {
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.508);
}
.portfolio-big-card__link:hover .big-card__img::after {
  content: "";
  transform: translate(0%, 0%);
}
.portfolio-big-card__link:hover .big-card__img .button {
  transform: translate(-50%, -50%);
}
.portfolio-big-card__link:hover .big-card__title {
  transition: .5s;
}
.portfolio-big-card__link:hover .big-card__title h4 {
  color: var(--red);
}
@media (min-width: 768px) {
  .portfolio-big-card__link {
    margin-bottom: 0;
    max-width: 340px;
    width: 49%;
  }
  .portfolio-big-card__link:first-child {
    margin-bottom: 47px;
  }
  .portfolio-big-card__link:first-child .big-card__img {
    margin-bottom: 22px;
  }
  .portfolio-big-card__link:first-child img {
    transform: scale(1.6);
    margin-top: 67px;
    margin-left: 102px;
  }
  .portfolio-big-card__link:first-child h4 {
    margin-bottom: 11px;
  }
  .portfolio-big-card__link:nth-child(2) {
    margin-bottom: 47px;
  }
  .portfolio-big-card__link:nth-child(2) .big-card__img {
    margin-bottom: 22px;
  }
  .portfolio-big-card__link:nth-child(2) h4 {
    margin-bottom: 11px;
  }
  .portfolio-big-card__link:hover .big-card__title h4::after {
    content: "";
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .portfolio-big-card__link {
    max-width: 555px;
    margin-bottom: 64px;
  }
  .portfolio-big-card__link:first-child {
    margin-bottom: 65px;
  }
  .portfolio-big-card__link:first-child .big-card__img {
    margin-bottom: 26px;
  }
  .portfolio-big-card__link:first-child h4 {
    margin-bottom: 8px;
  }
  .portfolio-big-card__link:first-child img {
    transform: scale(1);
    margin-top: 0;
    margin-left: 0;
  }
  .portfolio-big-card__link:nth-child(2) {
    margin-bottom: 65px;
  }
  .portfolio-big-card__link:nth-child(2) .big-card__img {
    margin-bottom: 26px;
  }
  .portfolio-big-card__link:nth-child(2) h4 {
    margin-bottom: 8px;
  }
  .portfolio-big-card__link:nth-child(2) img {
    transform: scale(1);
    margin-top: 0;
    margin-left: 0;
  }
}
.forest-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 45px;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Lobster', cursive;
  z-index: 1;
}
@media (min-width: 768px) {
  .forest-logo {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .forest-logo {
    font-size: 60px;
  }
}
.big-card__img {
  position: relative;
  overflow: hidden;
  height: 200px;
}
.big-card__img .button {
  padding: 0 19px;
  position: absolute;
  height: 38px;
  line-height: 38px;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300px);
  color: #ea736d;
  background-color: #fff;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 12px;
  font-weight: 800;
  z-index: 2;
  transition: .5s;
}
.big-card__img .button:hover {
  background-color: #ea736d;
  color: #fff;
}
.big-card__img .button:active {
  background-color: #d4423b;
}
.big-card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.5);
  transform: translate(-110%, 0%);
  z-index: 1;
  transition: .5s;
}
@media (min-width: 768px) {
  .big-card__img {
    width: auto;
    height: 240px;
  }
  .big-card__img .button {
    padding: 0 14px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .big-card__img {
    margin-bottom: 22px;
    height: auto;
  }
  .big-card__img .button {
    padding: 0 30px;
    height: 52px;
    line-height: 52px;
  }
  .big-card__img .button:hover {
    background-color: #ea736d;
    color: #fff;
  }
  .big-card__img .button:active {
    background-color: #d4423b;
  }
}
.big-card__img img {
  height: 100%;
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .big-card__img img {
    height: 100%;
    transform: scale(1);
  }
}
.big-card__title {
  padding-left: 10px;
  padding-bottom: 5px;
}
.big-card__title h4 {
  font-size: 22px;
  display: inline-block;
  margin-bottom: 2px;
  position: relative;
  line-height: 1.2;
}
.big-card__title h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--red);
  transition: .5s;
}
.big-card__title p {
  color: #9d9d9d;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .big-card__title p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .big-card__title h4 {
    font-size: 32px;
  }
  .big-card__title p {
    font-size: 22px;
  }
}
.portfolio-small-card_link {
  margin-top: -4px;
  display: block;
  width: 100%;
  max-width: 290px;
  transition: .5s;
}
.portfolio-small-card_link:hover {
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.508);
}
.portfolio-small-card_link:hover .small-card__img::after {
  content: "";
  transform: translate(0%, 0%);
}
.portfolio-small-card_link:hover .small-card__img .button {
  transform: translate(-50%, -50%);
}
.portfolio-small-card_link:hover .small-card__title {
  transition: .5s;
}
.portfolio-small-card_link:hover .small-card__title h5 {
  color: var(--red);
}
.portfolio-small-card_link:nth-child(3) {
  margin-bottom: 38px;
}
.portfolio-small-card_link:nth-child(3) .small-card__img {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #73819d;
}
.portfolio-small-card_link:nth-child(3) h5 {
  margin-bottom: 6px;
}
.portfolio-small-card_link:nth-child(4) {
  margin-bottom: 0;
}
.portfolio-small-card_link:nth-child(4) .small-card__img {
  margin-bottom: 19px;
  padding: 10px;
  background-color: #01a4bd;
}
.portfolio-small-card_link:nth-child(4) h5 {
  margin-bottom: 5px;
}
.portfolio-small-card_link:nth-child(5) {
  margin-top: 45px;
  margin-bottom: 0;
}
.portfolio-small-card_link:nth-child(5) .small-card__img {
  margin-bottom: 20px;
}
.portfolio-small-card_link:nth-child(5) h5 {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .portfolio-small-card_link {
    margin-top: -13px;
    max-width: 340px;
    width: 49%;
  }
  .portfolio-small-card_link:nth-child(3) {
    margin-bottom: 0;
  }
  .portfolio-small-card_link:nth-child(3) .small-card__img {
    margin-bottom: 15px;
  }
  .portfolio-small-card_link:nth-child(3) h5 {
    margin-bottom: 6px;
  }
  .portfolio-small-card_link:nth-child(3) img {
    transform: scale(1);
    margin-top: 0;
  }
  .portfolio-small-card_link:nth-child(4) {
    margin-bottom: 0;
  }
  .portfolio-small-card_link:nth-child(4) .small-card__img {
    margin-bottom: 15px;
  }
  .portfolio-small-card_link:nth-child(4) h5 {
    margin-bottom: 5px;
  }
  .portfolio-small-card_link:hover .small-card__title h5::after {
    content: "";
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .portfolio-small-card_link {
    margin-top: -12px;
    width: 32%;
    max-width: 360px;
  }
  .portfolio-small-card_link:nth-child(3) {
    margin-bottom: 0;
  }
  .portfolio-small-card_link:nth-child(3) .small-card__img {
    margin-bottom: 21px;
  }
  .portfolio-small-card_link:nth-child(3) img {
    transform: scale(1);
    margin-top: 0;
  }
  .portfolio-small-card_link:nth-child(3) h5 {
    margin-bottom: 2px;
  }
  .portfolio-small-card_link:nth-child(4) {
    margin-bottom: 0;
  }
  .portfolio-small-card_link:nth-child(4) .small-card__img {
    margin-bottom: 21px;
  }
  .portfolio-small-card_link:nth-child(4) h5 {
    margin-bottom: 2px;
  }
  .portfolio-small-card_link:nth-child(5) {
    margin-top: -12px;
    margin-bottom: 0;
  }
  .portfolio-small-card_link:nth-child(5) .small-card__img {
    margin-bottom: 18px;
  }
  .portfolio-small-card_link:nth-child(5) h5 {
    margin-bottom: 5px;
  }
}
.small-card__title {
  padding-left: 10px;
  padding-bottom: 5px;
}
.small-card__title h5 {
  display: inline-block;
  margin-bottom: 2px;
  position: relative;
  font-size: 22px;
}
.small-card__title h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--red);
  transition: .5s;
}
.small-card__title p {
  color: #9d9d9d;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .small-card__title p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .small-card__title p {
    font-size: 20px;
  }
  .small-card__title h5 {
    font-size: 26px;
  }
}
.small-card__img {
  position: relative;
  overflow: hidden;
  height: 200px;
}
.small-card__img .button {
  padding: 0 19px;
  position: absolute;
  height: 38px;
  line-height: 38px;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300px);
  color: #ea736d;
  background-color: #fff;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 12px;
  font-weight: 800;
  z-index: 2;
  transition: .5s;
}
.small-card__img .button:hover {
  background-color: #ea736d;
  color: #fff;
}
.small-card__img .button:active {
  background-color: #d4423b;
}
.small-card__img img {
  height: 100%;
}
@media (min-width: 768px) {
  .small-card__img {
    height: 240px;
  }
  .small-card__img .button {
    padding: 0 14px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
}
.small-card__img {
  position: relative;
}
.small-card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.5);
  transform: translate(-110%, 0%);
  z-index: 1;
  transition: .5s;
}
.timeline {
  background-image: url(../img/img-timeline/bcg-timeline_01.jpg);
  background-repeat: repeat;
  padding: 44px 0 60px;
}
.timeline h2 {
  font-size: 38px;
}
.timeline .bottom-line {
  position: relative;
  z-index: 1;
}
.timeline .bottom-line::after {
  content: "";
  bottom: 8px;
  width: 102%;
}
@media (min-width: 768px) {
  .timeline {
    padding-top: 69px;
    padding-bottom: 86px;
    text-align: center;
  }
  .timeline h2 {
    font-size: 52px;
  }
  .timeline .bottom-line::after {
    content: "";
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .timeline {
    padding: 127px 0;
    padding-bottom: 114px;
  }
  .timeline h2 {
    font-size: 64px;
  }
  .timeline .bottom-line {
    position: relative;
  }
  .timeline .bottom-line::after {
    content: "";
    bottom: 18px;
    width: 102%;
  }
}
.timeline-block {
  padding-top: 47px;
}
@media (min-width: 768px) {
  .timeline-block {
    padding-top: 173px;
  }
}
@media (min-width: 1200px) {
  .timeline-block {
    padding-top: 168px;
  }
}
.timeline-block_item {
  position: relative;
  width: 100%;
  min-height: 175px;
  padding-left: 99px;
}
.timeline-block_item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 71px;
  top: 95px;
  left: 34px;
  transform: translateX(-50%);
  background-color: rgba(124, 192, 255, 0.3);
}
.timeline-block_item:last-child::after {
  content: "";
  display: none;
}
.timeline-block_item:nth-child(4) .timeline-block_icn,
.timeline-block_item:nth-child(5) .timeline-block_icn {
  padding: 21px 17px;
}
.timeline-block_item:nth-child(3) .timeline-block_icn {
  padding: 17px 19px;
}
.timeline-block_item:first-child {
  margin-bottom: 7px;
}
.timeline-block_item:first-child h5 {
  margin-bottom: 9px;
}
.timeline-block_item:first-child p + p {
  margin-top: 8px;
}
.timeline-block_item:nth-child(2) {
  margin-bottom: 65px;
}
.timeline-block_item:nth-child(2) h5 {
  margin-bottom: 12px;
}
.timeline-block_item:nth-child(2) p + p {
  margin-top: 9px;
}
.timeline-block_item:nth-child(2)::after {
  content: "";
  height: 130px;
}
.timeline-block_item:nth-child(3) {
  margin-bottom: 60px;
}
.timeline-block_item:nth-child(3) h5 {
  margin-bottom: 11px;
}
.timeline-block_item:nth-child(3) p + p {
  margin-top: 14px;
}
.timeline-block_item:nth-child(3)::after {
  content: "";
  height: 153px;
}
.timeline-block_item:nth-child(4) {
  margin-bottom: 66px;
}
.timeline-block_item:nth-child(4) h5 {
  margin-bottom: 10px;
}
.timeline-block_item:nth-child(4) p + p {
  margin-top: 8px;
}
.timeline-block_item:nth-child(4)::after {
  content: "";
  height: 130px;
}
.timeline-block_item:nth-child(5) h5 {
  margin-bottom: 12px;
}
.timeline-block_item:nth-child(5) p + p {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .timeline-block_item {
    width: 50%;
  }
  .timeline-block_item:first-child::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 52px;
    top: -95px;
    right: -3px;
    transform: translateX(-50%);
    background-color: rgba(124, 192, 255, 0.3);
  }
  .timeline-block_item:nth-child(odd) {
    padding-left: 0;
    padding-right: 69px;
    text-align: right;
  }
  .timeline-block_item:nth-child(odd) .timeline-block_icn {
    right: -37px;
    left: auto;
  }
  .timeline-block_item:nth-child(odd)::after {
    content: "";
    left: auto;
    right: -2px;
    top: 69px;
  }
  .timeline-block_item:nth-child(even) {
    margin-left: auto;
    text-align: left;
    padding-left: 67px;
  }
  .timeline-block_item:nth-child(even) .timeline-block_text {
    width: 288px;
  }
  .timeline-block_item:nth-child(even) .timeline-block_icn {
    left: -37px;
  }
  .timeline-block_item:nth-child(even)::after {
    content: "";
    left: -1px;
    top: 69px;
  }
  .timeline-block_item:first-child {
    margin-bottom: 50px;
  }
  .timeline-block_item:first-child h5 {
    margin-bottom: 9px;
  }
  .timeline-block_item:first-child::after {
    content: "";
    height: 114px;
  }
  .timeline-block_item:nth-child(2) {
    margin-bottom: 61px;
  }
  .timeline-block_item:nth-child(2) h5 {
    margin-bottom: 13px;
  }
  .timeline-block_item:nth-child(3) {
    margin-bottom: 40px;
  }
  .timeline-block_item:nth-child(3) h5 {
    width: 250px;
  }
  .timeline-block_item:nth-child(3) p {
    width: 261px;
    margin-left: auto;
  }
  .timeline-block_item:nth-child(3) p + p {
    margin-top: 6px;
  }
  .timeline-block_item:nth-child(3)::after {
    content: "";
    height: 132px;
  }
  .timeline-block_item:nth-child(4) {
    margin-bottom: 29px;
  }
  .timeline-block_item:nth-child(4) h5 {
    margin-bottom: 15px;
  }
  .timeline-block_item:nth-child(4) p + p {
    margin-top: 4px;
  }
  .timeline-block_item:nth-child(4)::after {
    content: "";
    height: 100px;
  }
  .timeline-block_item:nth-child(5) h5 {
    margin-bottom: 18px;
  }
  .timeline-block_item:nth-child(5) p + p {
    margin-top: 8px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_item:nth-child(odd) {
    padding-right: 80px;
  }
  .timeline-block_item:nth-child(odd) .timeline-block_text {
    margin-left: auto;
  }
  .timeline-block_item:first-child .timeline-block_text,
  .timeline-block_item:nth-child(4) .timeline-block_text {
    max-width: 400px;
  }
  .timeline-block_item:first-child h5 {
    margin-bottom: 12px;
  }
  .timeline-block_item:first-child p + p {
    margin-top: 9px;
  }
  .timeline-block_item:nth-child(3) h5 {
    width: auto;
  }
  .timeline-block_item:nth-child(3) p {
    width: auto;
  }
  .timeline-block_item:nth-child(5) h5 {
    margin-bottom: 13px;
  }
  .timeline-block_item:nth-child(5) p + p {
    margin-top: 6px;
  }
  .timeline-block_item:nth-child(even) {
    padding-left: 83px;
  }
  .timeline-block_item:nth-child(even) .timeline-block_text {
    width: auto;
  }
  .timeline-block_item:first-child {
    margin-bottom: 47px;
  }
  .timeline-block_item::after {
    content: "";
    left: auto;
    right: -5px;
    height: 105px;
    top: 79px;
  }
  .timeline-block_item:nth-child(2) {
    margin-bottom: 71px;
  }
  .timeline-block_item:nth-child(2)::after {
    content: "";
    height: 132px;
    top: 79px;
    left: 0;
  }
  .timeline-block_item:nth-child(3) {
    margin-bottom: 68px;
  }
  .timeline-block_item:nth-child(3)::after {
    content: "";
    left: auto;
    right: -5px;
    height: 128px;
    top: 79px;
  }
  .timeline-block_item:nth-child(4) {
    margin-bottom: 40px;
  }
  .timeline-block_item:nth-child(4)::after {
    content: "";
    height: 100px;
    top: 79px;
    left: 0;
  }
}
.timeline-block_icn {
  padding: 17px;
  position: absolute;
  width: 74px;
  height: 74px;
  border-radius: 40%;
  top: 0;
  left: 0;
  box-shadow: 0 0 30px 7px rgba(124, 192, 255, 0.5);
}
@media (min-width: 768px) {
  .timeline-block_icn {
    top: -26px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_icn {
    top: -21px;
  }
}
.timeline-block_text {
  width: 188px;
}
.timeline-block_text h5 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.15;
}
.timeline-block_text .bottom-line::after {
  content: "";
  display: none;
}
.timeline-block_text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}
.timeline-block_text p + p {
  font-weight: 700;
  font-size: 14px;
}
@media (min-width: 768px) {
  .timeline-block_text {
    width: auto;
  }
  .timeline-block_text p {
    font-size: 16px;
    font-weight: 500;
  }
  .timeline-block_text p + p {
    font-size: 18px;
    margin-top: 7px;
  }
  .timeline-block_text h5 {
    line-height: 1.1;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_text {
    max-width: 424px;
    display: block;
  }
  .timeline-block_text h5 {
    margin-bottom: 13px;
    font-weight: 800;
    font-size: 26px;
  }
  .timeline-block_text .bottom-line {
    position: relative;
  }
  .timeline-block_text .bottom-line::after {
    content: "";
    display: inline-block;
    bottom: 0;
    width: 102%;
    height: 7px;
    transition: background .5s;
  }
  .timeline-block_text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }
  .timeline-block_text p + p {
    font-weight: 700;
    font-size: 18px;
  }
  .timeline-block_text:hover ::after {
    content: "";
    background-color: #ea736d;
  }
}
.contacts {
  padding-top: 50px;
  padding-bottom: 60px;
  background-image: url(../img/contacts-img/bcg-contacts_05.jpg);
  background-repeat: repeat;
  position: relative;
}
.contacts h2 {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 45px;
}
@media (min-width: 576px) {
  .contacts h2 {
    margin-right: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 78px;
    padding-bottom: 83px;
  }
  .contacts h2 {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 52px;
    margin-bottom: 67px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 134px;
    padding-bottom: 150px;
  }
  .contacts h2 {
    margin-bottom: 67px;
    font-size: 64px;
  }
}
.contacts__center {
  position: relative;
}
@media (min-width: 768px) {
  .contacts__center {
    display: flex;
  }
}
.contacts .bottom-line {
  z-index: 1;
}
.contacts .bottom-line::after {
  content: "";
  bottom: 4px;
}
@media (min-width: 768px) {
  .contacts .bottom-line {
    z-index: 1;
  }
  .contacts .bottom-line::after {
    content: "";
    bottom: 7px;
  }
}
.contacts__left-col p {
  width: 292px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 25px;
}
.contacts__left-col .social-nav {
  margin-top: 37px;
}
.contacts__left-col .social-nav > * + * {
  margin-left: 30px;
}
@media (min-width: 768px) {
  .contacts__left-col {
    margin-top: -7px;
    width: 52%;
  }
  .contacts__left-col p {
    width: 295px;
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 38px;
  }
  .contacts__left-col .social-nav {
    margin-top: 38px;
  }
  .contacts__left-col br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contacts__left-col {
    padding-top: 26px;
    width: 53%;
  }
  .contacts__left-col p {
    width: auto;
    max-width: 501px;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 44px;
  }
  .contacts__left-col .social-nav {
    margin-top: 47px;
  }
}
.contacts__links li {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 0;
  width: 200px;
}
.contacts__links li a {
  color: #039be5;
  position: relative;
  z-index: 1;
  transition: .5s;
}
.contacts__links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: .5s;
}
.contacts__links li a:hover::after {
  width: 100%;
  background-color: var(--red);
}
.contacts__links li a:hover {
  color: var(--red);
}
.contacts__links li:first-child {
  width: 270px;
}
.contacts__links li:nth-child(3) a,
.contacts__links li:nth-child(4) a {
  color: #96969d;
}
.contacts__links li:nth-child(3) a:hover,
.contacts__links li:nth-child(4) a:hover {
  color: var(--red);
}
@media (min-width: 768px) {
  .contacts__links li {
    line-height: 1.3;
  }
}
@media (min-width: 1200px) {
  .contacts__links li {
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
  }
  .contacts__links li::after {
    content: "";
    width: 100%;
    height: 200%;
  }
  .contacts__links li a {
    color: #039be5;
  }
  .contacts__links li:first-child {
    width: 100%;
  }
  .contacts__links li:first-child a {
    margin-left: 140px;
  }
  .contacts__links li:nth-child(2) a {
    margin-left: 107px;
  }
  .contacts__links li:nth-child(3) a {
    color: #96969d;
    margin-left: 138px;
  }
  .contacts__links li:nth-child(4) a {
    color: #96969d;
    margin-left: 130px;
  }
}
.contacts__links li + li {
  margin-top: 19px;
}
@media (min-width: 768px) {
  .contacts__links li + li {
    margin-top: 18px;
  }
}
@media (min-width: 1200px) {
  .contacts__links li + li {
    margin-top: 29px;
  }
}
.contacts__right-col {
  margin-top: 46px;
  padding: 37px 15px 41px 18px;
  background-color: #ffffff;
  box-shadow: 0px 28px 100px 0px #c2dbeb;
}
@media (min-width: 768px) {
  .contacts__right-col {
    height: min-content;
    margin-top: 0;
    width: 47%;
    padding: 38px 23px 41px 23px;
  }
}
@media (min-width: 1200px) {
  .contacts__right-col {
    padding: 38px 60px 42px 64px;
    width: 45%;
    margin-top: 0;
  }
}
.form-item {
  position: relative;
}
.form-item .active {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ed9626;
}
.form-item .form-field {
  width: 100%;
  padding-top: 14px;
  font-size: 20px;
  border: 0;
  border-radius: 1px;
  border-bottom: 1px solid #eaeaea;
}
.form-item .form-field:active {
  border-bottom: 1px solid var(--red);
}
.form-item .form-field:focus {
  border-bottom: 1px solid var(--red);
}
.form-item:first-child .form-field {
  top: 26px;
  height: 62px;
}
.form-item:first-child .fake-placeholder {
  top: 26px;
}
.form-item:first-child .active {
  top: -1px;
}
.form-item:nth-child(2) .form-field {
  height: 85px;
}
.form-item:nth-child(2) .fake-placeholder {
  top: 47px;
}
.form-item:nth-child(2) .active {
  top: 6px;
}
.form-item:nth-child(3) .form-field {
  padding-top: 26px;
  height: 161px;
}
.form-item:nth-child(3) .fake-placeholder {
  top: 44px;
}
.form-item:nth-child(3) .active {
  top: 6px;
}
.form-item input {
  appearance: none;
}
.form-item .btn {
  width: 100%;
  font-size: 20px;
  height: 54px;
  margin-top: 13px;
  line-height: 46px;
}
@media (min-width: 768px) {
  .form-item:first-child .form-field {
    height: 62px;
  }
  .form-item:nth-child(2) .form-field {
    height: 86px;
  }
  .form-item:nth-child(2) .fake-placeholder {
    top: 48px;
  }
  .form-item:nth-child(2) .active {
    top: 16px;
  }
  .form-item:nth-child(3) .form-field {
    height: 161px;
    padding-top: 33px;
  }
  .form-item:nth-child(3) .fake-placeholder {
    top: 44px;
  }
  .form-item:nth-child(3) .active {
    top: 12px;
  }
  .form-item .btn {
    margin-top: 11px;
    line-height: 46px;
  }
}
@media (min-width: 1200px) {
  .form-item {
    position: relative;
  }
  .form-item .btn {
    width: auto;
    font-size: 22px;
    height: 64px;
    margin-top: 34px;
    margin-left: -6px;
    line-height: 56px;
  }
  .form-item .form-field {
    width: 100%;
    padding-top: 29px;
    font-size: 20px;
    border: 0;
    border-radius: 1px;
    border-bottom: 2px solid #eaeaea;
  }
  .form-item:first-child .form-field {
    top: 26px;
    height: 82px;
  }
  .form-item:first-child .fake-placeholder {
    top: 26px;
  }
  .form-item:first-child .active {
    top: 18px;
  }
  .form-item:nth-child(2) .form-field {
    height: 105px;
    padding-bottom: 41px;
  }
  .form-item:nth-child(2) .fake-placeholder {
    top: 70px;
  }
  .form-item:nth-child(2) .active {
    top: 6px;
  }
  .form-item:nth-child(3) .form-field {
    padding-top: 26px;
    height: 173px;
  }
  .form-item:nth-child(3) .fake-placeholder {
    top: 57px;
  }
  .form-item:nth-child(3) .active {
    top: 6px;
  }
}
.fake-placeholder {
  position: absolute;
  left: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #bcbcbc;
  pointer-events: none;
  transition: .5s;
}
label.error {
  color: var(--red);
  font-size: 14px;
  letter-spacing: 1.5px;
}
.bg-dots {
  display: none;
}
@media (min-width: 1200px) {
  .bg-dots {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-27%, -75%);
  }
}
#answer .contact-form__success h2 {
  margin-bottom: 0;
  text-align: center;
  color: var(--red);
  font-size: 20px;
  border: 2px solid;
  padding: 25px 8px 35px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  #answer .contact-form__success h2 {
    font-size: 28px;
  }
}
.footer {
  background-color: #333333;
  padding: 36px 0 38px;
}
@media (min-width: 768px) {
  .footer {
    padding: 38px 0 43px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 26px 0 38px;
  }
}
.footer__text p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  font-weight: 500;
}
.footer__text p + p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #b0b0b0;
}
.footer__text a {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #b0b0b0;
}
.footer__text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3px;
  background-color: #b0b0b0;
  left: 0;
  bottom: 4px;
}
@media (min-width: 768px) {
  .footer__text p + p {
    margin-top: 14px;
  }
  .footer__text p br:first-child,
  .footer__text br:nth-child(3) {
    display: none;
  }
}
.project__header {
  width: 698px;
  margin: 0 auto;
  text-align: center;
}
.project__header h3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .project__header h3 {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .project__header h3 {
    font-size: 48px;
  }
}
.project__header {
  margin: 0 auto;
}
.icn {
  width: 25px;
}
.project__tools {
  display: flex;
  flex-wrap: wrap;
  width: 262px;
  margin: 0 auto;
}
.project__tools div + div {
  margin-left: 10px;
}
.project__tools div {
  height: 26px;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 0.012em;
  font-family: Roboto, sans-serif;
  color: #ffffff;
}
.project__tools div:first-child {
  padding: 0 11px 0 9px;
  background-color: #ff861a;
}
.project__tools div:nth-child(2) {
  padding: 0 11px;
  background-color: #039be5;
}
.project__tools div:nth-child(3) {
  padding: 0 11px;
  background-color: #a062c7;
}
.project__tools div:nth-child(4) {
  padding: 0 11px 0 10px;
  background-color: #ffd200;
}
.project__tools div:nth-child(5) {
  padding: 0 11px 0 9px;
  background-color: #044d85;
  margin-left: auto;
}
.project__tools div:nth-child(6) {
  padding: 0 11px;
  background-color: #777bb4;
  margin-right: auto;
}
@media (min-width: 768px) {
  .project__tools {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .project__tools div:nth-child(5) {
    padding: 0 11px 0 9px;
    background-color: #044d85;
    margin-left: 10px;
  }
  .project__tools div:nth-child(6) {
    padding: 0 11px;
    background-color: #777bb4;
    margin-right: unset;
  }
}
.project__center {
  display: flex;
  flex-direction: row-reverse;
}
.project__left-col {
  width: 30%;
}
.project__right-col {
  width: 70%;
}
.project__links a {
  display: flex;
  width: fit-content;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2a86b3;
  position: relative;
}
.project__links a::after {
  content: "";
  width: 91%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: #2a86b3;
  left: 23px;
}
.icn-window {
  width: 20px;
  height: auto;
}
.project-discription h5 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 800;
}
.project-discription p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #161616;
}
.project-details li {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 0.012em;
  color: #161616;
}
.project-details li span {
  font-weight: 400;
}
.project-details li a {
  color: #039be5;
  position: relative;
}
.project-details li a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #039be5;
}
.project__button {
  display: flex;
}
.project__button a + a {
  margin-left: 10px;
}
.project__button a {
  height: 80px;
  background-color: #333333;
  padding: 0 171px 0 172px;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: 0.012em;
  color: #feffff;
}
.project__footer-bg {
  width: 1600px;
  height: 663px;
  background-image: url(../img/project-img/bg-footer.png);
  text-align: center;
}
.project__footer-bg h3 {
  font-size: 42px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.project__footer-bg div {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #161616;
}
.project__footer-bg div a {
  color: #039be5;
}
/*# sourceMappingURL=main.css.map */