:root {
  --text: #000;
  --blue: #039be5;
  --red: #ea736d;
  --yelou: #fbdc4d;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p,
span {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  position: relative;
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.bottom-line-hover::after {
  content: "";
  height: 10px;
  width: 0%;
  background-color: var(--yelou);
  position: absolute;
  left: -5px;
  bottom: 10px;
  z-index: -1;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.bottom-line-hover:hover::after {
  width: 110%;
}
.bottom-line::after {
  content: "";
  height: 12px;
  width: 105%;
  background-color: var(--yelou);
  position: absolute;
  left: -5px;
  bottom: 10px;
  z-index: -1;
}
.section-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-information_button {
  display: none;
}
@media (min-width: 1200px) {
  .section-information_button {
    display: block;
  }
}
.btn-style {
  padding-left: 44px;
  padding-right: 41px;
  height: 64px;
  line-height: 64px;
  border-radius: 50px;
  background-color: var(--yelou);
  color: var(--text);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
.btn-style:hover {
  background-color: #ffd200;
}
.btn-style:active {
  background-color: #e1bc10;
}
.btn-border {
  padding: 0 38px;
  line-height: 56px;
  background-color: #fff;
  border: 4px solid #464646;
  color: #464646;
  cursor: pointer;
}
.btn-border:hover {
  background-color: #fff;
  border: 4px solid #797979;
  color: #797979;
}
.btn-border:active {
  color: #1c1c1c;
  border: 4px solid #1c1c1c;
}
h3.title-h3 {
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 1200px) {
  h3.title-h3 {
    font-size: 40px;
  }
}
.header {
  padding: 37px 0 94px;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: auto;
    padding: 83px 0 240px;
    background-image: url(../img/header-img/bg/header-bg.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    overflow-x: hidden;
  }
}
.header-nav {
  margin: 0 auto;
  height: 109px;
  width: 320px;
}
@media (min-width: 768px) {
  .header-nav {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    width: 1600px;
    height: 185px;
    text-align: center;
  }
}
.logo {
  position: absolute;
  top: 0;
  left: 150px;
  -webkit-transform: translate(-217%, 55%);
      -ms-transform: translate(-217%, 55%);
          transform: translate(-217%, 55%);
}
@media (min-width: 1200px) {
  .logo {
    left: -4px;
    -webkit-transform: translate(-182%, -19%);
        -ms-transform: translate(-182%, -19%);
            transform: translate(-182%, -19%);
  }
}
.logo h2 {
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
}
.main-header {
  font-size: 42px;
  font-weight: 800;
  line-height: 1;
}
@media (min-width: 768px) {
  .main-header {
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
  }
}
@media (min-width: 1200px) {
  .main-header {
    font-size: 90px;
  }
}
div.logo.bottom-line::after {
  content: "";
  height: 10px;
  width: 105%;
  bottom: 5px;
}
.header-inner-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header-inner-nav {
    display: block;
  }
  .header-inner-nav a {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    z-index: 9;
  }
}
.header-inner-nav > * + * {
  margin-left: 80px;
}
.header-inner-nav .bottom-line-hover {
  border: 4px solid #fff;
}
.header-inner-nav .bottom-line-hover::after {
  content: "";
  height: 6px;
  left: -5px;
  bottom: 1px;
}
.header-inner-nav .bottom-line-hover:focus {
  border: 4px dotted var(--red);
}
.header-nav-icn {
  position: absolute;
  top: 0;
  right: 100px;
  -webkit-transform: translate(14%, 23%);
      -ms-transform: translate(14%, 23%);
          transform: translate(14%, 23%);
  -webkit-transition: .5s;
          transition: .5s;
}
.header-nav-icn .hover-in:hover {
  fill: #0077b5;
}
.header-nav-icn .hover-git:hover {
  fill: #6cc644;
}
.header-nav-icn .hover-vk:hover {
  fill: #45668e;
}
@media (min-width: 1200px) {
  .header-nav-icn {
    -webkit-transform: translate(184%, -7%);
        -ms-transform: translate(184%, -7%);
            transform: translate(184%, -7%);
  }
}
.icn-bars {
  position: absolute;
  width: 40px;
  height: 25px;
  background-color: #000;
  z-index: -1;
  top: 0;
  right: 0;
  -webkit-transform: translate(148%, 149%);
      -ms-transform: translate(148%, 149%);
          transform: translate(148%, 149%);
}
.icn-bars::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 5px;
  background-color: white;
  z-index: 3;
  -webkit-transform: translate(-2px, 5px);
      -ms-transform: translate(-2px, 5px);
          transform: translate(-2px, 5px);
}
.icn-bars::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 5px;
  background-color: white;
  -webkit-transform: translate(-2px, 15px);
      -ms-transform: translate(-2px, 15px);
          transform: translate(-2px, 15px);
}
@media (min-width: 1200px) {
  .icn-bars {
    display: none;
  }
}
.header-nav-icn > * + * {
  margin-left: 20px;
}
#head-nav_icn-size {
  display: none;
}
@media (min-width: 1200px) {
  #head-nav_icn-size {
    width: 28px;
    height: auto;
    display: inline-block;
  }
}
.head-nav_icn-color {
  fill: #000;
}
.section-information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .section-information {
    padding: 41px 24px 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 3;
    position: relative;
  }
  .section-information::after {
    content: "";
    width: 320px;
    height: 317px;
    top: 0;
    right: 0;
    -webkit-transform: translate(53px, 62px);
        -ms-transform: translate(53px, 62px);
            transform: translate(53px, 62px);
    position: absolute;
    background-image: -webkit-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.5;
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .section-information {
    padding: 9px 0 0 0;
  }
  .section-information::after {
    content: "";
    width: 474px;
    height: 410px;
    top: 0;
    left: auto;
    right: 0;
    -webkit-transform: translate(30%, 40%);
        -ms-transform: translate(30%, 40%);
            transform: translate(30%, 40%);
    background-image: -webkit-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  }
}
.section-information_left {
  min-width: 279px;
}
@media (min-width: 768px) {
  .section-information_left {
    padding-top: 10px;
    min-width: auto;
    width: 330px;
  }
  .section-information_left br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section-information_left {
    padding-top: 0;
    min-width: auto;
    width: 555px;
    position: relative;
    z-index: 9;
  }
}
.section-information_header {
  margin-bottom: 33px;
}
.section-information_header span {
  position: relative;
  z-index: 9;
}
@media (min-width: 768px) {
  .section-information_header {
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .section-information_header {
    margin-bottom: 13px;
  }
}
span.bottom-line::after {
  content: "";
  height: 12px;
  width: 102%;
  bottom: 7px;
}
@media (min-width: 1200px) {
  span.bottom-line::after {
    content: "";
    height: 12px;
    width: 102%;
    bottom: 23px;
  }
}
.section-information_text {
  margin-bottom: 34px;
}
.section-information_text p {
  color: #393f47;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.66;
}
@media (min-width: 1200px) {
  .section-information_text {
    font-size: 24px;
    line-height: 1.5;
  }
}
.section-information_img {
  min-width: 290px;
  height: 290px;
  overflow: hidden;
  margin-bottom: 59px;
}
@media (min-width: 768px) {
  .section-information_img {
    min-width: auto;
    max-width: 290px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section-information_img {
    padding-top: 23px;
    min-width: auto;
    max-width: 457px;
    height: 433px;
  }
}
.section-information_button {
  display: none;
}
@media (min-width: 1200px) {
  .section-information_button {
    display: block;
  }
}
.header-image {
  margin: 0 auto;
  max-width: 570px;
  min-height: 249px;
  position: relative;
  overflow: hidden;
}
.header-image img {
  max-width: 174%;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-22%, -20%);
      -ms-transform: translate(-22%, -20%);
          transform: translate(-22%, -20%);
}
@media (min-width: 768px) {
  .header-image {
    max-width: 770px;
    min-height: 353px;
    overflow: unset;
  }
  .header-image img {
    max-width: 100%;
    position: absolute;
    top: 0;
    -webkit-transform: translate(0, -15%);
        -ms-transform: translate(0, -15%);
            transform: translate(0, -15%);
  }
}
@media (min-width: 1200px) {
  .header-image {
    max-width: 1600px;
    height: 600px;
    min-height: auto;
  }
  .header-image img {
    -webkit-transform: translate(0, -20%);
        -ms-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
}
.block-skills_cell-title {
  margin-bottom: 19px;
}
@media (min-width: 1200px) {
  .block-skills_cell-title {
    margin-bottom: 40px;
  }
}
.block-contacts_cell-title {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .block-contacts_cell-title {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .block-contacts_cell-title {
    margin-bottom: 46px;
  }
}
.block-profession {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .block-profession {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 48px 0 0;
  }
}
.block-profession_list {
  width: 234px;
  margin-bottom: 30px;
}
.block-profession_list p {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text);
}
.block-profession_list span {
  display: none;
}
@media (min-width: 768px) {
  .block-profession_list {
    width: 305px;
  }
}
@media (min-width: 1200px) {
  .block-profession_list {
    width: auto;
    margin-bottom: 43px;
  }
  .block-profession_list p {
    margin-bottom: 0;
    font-size: 24px;
  }
  .block-profession_list span {
    display: contents;
  }
}
.block-profession_btn {
  display: none;
}
@media (min-width: 1200px) {
  .block-profession_btn {
    display: inline-block;
  }
}
.block-profession_contacts .mail-adress {
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
  position: relative;
  text-decoration: underline;
}
.block-profession_contacts .mail-adress:hover {
  color: var(--blue);
}
.block-profession_contacts .mail-adress:active {
  color: var(--red);
}
@media (min-width: 1200px) {
  .block-profession_contacts a {
    font-size: 24px;
  }
}
.social-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .social-nav {
    margin-bottom: 19px;
  }
}
@media (min-width: 1200px) {
  .social-nav {
    margin-bottom: 43px;
  }
}
.social-nav > * + * {
  margin-left: 30px;
}
#github-icn_size {
  width: 50px;
  height: 50px;
}
.git-inc {
  fill: #212121;
}
.social-link svg {
  vertical-align: middle;
}
.social-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 3;
  line-height: 48px;
  text-align: center;
}
.telegram-icn {
  background-color: #039be5;
}
.vk-icn {
  background-color: #4d76a1;
}
.facebook-icn {
  background-color: #3b5998;
}
#size-icn {
  width: auto;
  height: 26px;
}
a svg .color-icn {
  fill: white;
}
/*# sourceMappingURL=main.css.map */