.section-portfolio {
    padding-top: 97px;
    padding-bottom: 120px;
    background-color: #f4f8f9;
}
.section-portfolio_works {
    padding-top: 47px;
}
.portfolio-content {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-portfolio {
    .bottom-line  {
    width: fit-content;
    position: relative;
    z-index: 2;

    &::after {
    content: "";
    bottom: 19px;
    width: 102%;
        }
    }
}

.portfolio-nav_projects {
    font-family: 'M PLUS 1p',sans-serif;
    color: #8fa5ae;
    font-size: 28px;
    font-weight: 800;
    
    &:hover {
        color: var(--red);
    }
    &:active {
        color: var(--text);
        
    }
  
}
.active {
    color: var(--text);
}
.portfolio-nav > * + * {
    margin-left: 76px;

}
