.section-information-wrapper {
    padding-top: 33px;

    @media(min-width: 768px) {
        padding-top: 73px;
    
    }
    @media(min-width:1200px) {
        padding-top: 155px;
        
    }
}

.section-information {
     
     @media(min-width: 768px) {
    
    display: flex;
    }
    @media(min-width: 1200px) {
      position: relative; 
    }
}
.section-information_left {
    min-width: 279px;
    position: relative;
    z-index: 2;
    margin-bottom: 41px;
    @media(min-width: 768px) {
        margin-bottom: 0;
        padding-top: 10px;
        min-width: auto;
        width: 60%;
        max-width: 395px;
        order: 1;

        br {
            display: none;
        }
    }
    @media(min-width: 425px) {
        margin-bottom: 70px;
    }
    @media(min-width: 768px) {
    margin-bottom: 0;
    
    }
    @media(min-width:1200px) {
        margin-bottom: 0;
        width: 60%;
        padding-top: 0;
        min-width: auto;
        max-width: 756px;
       
    }
    
}
.section-information_header {
    margin-bottom: 28px;

   
    span {
        position: relative;
        z-index: 9;
    }
    @media(min-width: 768px) {
        margin-bottom: 19px;
    }
    @media(min-width:1200px) {
        margin-bottom: 13px;
      
       
    }
    

}
span.bottom-line {
    &::after {
        content: "";
        height: 12px;
        width: 105%;
        bottom: 2px;
    }

    @media(min-width: 768px) {
        &::after {
            content: "";
            height: 12px;
            width: 102%;
            bottom: 6px;
        }
    
    }
    @media(min-width:1200px) {
        &::after {
            content: "";
            height: 12px;
            width: 102%;
            bottom: 14px;
        }
    }
    
}

.section-information_text {
    margin-bottom: 34px;

    p {
        color: #393f47;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.66;
    }

    @media(min-width: 768px) {
        width: 347px;
    
    }
    @media(min-width:1200px) {
        width: 500px;
        
        p {
            font-size: 24px;
            line-height: 1.5;
        }
    }
    
}
.section-information_gradient {

    @media(min-width: 1200px) {
        padding-top: 23px;
        min-width: 457px;
        height: 433px;
        top: 0;
        right: 0;
        position: absolute;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            transform: translate(28%, 30%);
            background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);           
        }
     
        img {
            min-width: 100%;
        }

    }
}
.section-information_img {
    
    min-width: 290px;
    height: 290px;
    margin-bottom: 54px;
    overflow: hidden;
    
   @media(min-width: 576px) {
    min-width: 330px;
    height: 330px;
   }
    
    @media(min-width: 768px) {
        margin-bottom: 0;
        min-width: auto;
        width: 290px;
        height: 290px;
        order: 2;
    }
    @media(min-width: 1200px) {
        padding-top: 23px;
        min-width: auto;
        min-width: 457px;
        height: 433px;
        position: relative;
     
        img {
            min-width: 100%;
       
        }

    }
    
}
.section-information_button {
    display: none;
    @media(min-width: 768px) {
    
    
    }
    @media(min-width: 1200px) {
        display: block;
    }
    
}
.header-image {
    margin: 0 auto;
    margin-bottom: 73px;
    img {
         transform: scale(1.8);
        }

    @media(min-width: 425px) {
        max-width: 425px;
        margin-bottom: 70px;
        img {
        
        margin-top: -59px;
            transform: scale(1.5);
        }
    }
    @media(min-width: 576px) {
        max-width: 576px;
        margin-bottom: 20px;
        img {
        
        margin-top: -59px;
            transform: scale(1.2);
        }
    }
    @media(min-width: 768px) {
        
        margin-bottom: 0;
        max-width: 768px;
        margin-top: -2px;
      img {
        
        margin-top: -59px;
         transform: scale(1);
        }
    }

    @media(min-width:1200px) {
       max-width: 1600px;
        margin-bottom: -21px;
        
        img {
        margin-top: -130px;
        }
       
            
        
    }
    
}
.section-information_button > * + * {

    @media(min-width:1200px) {
       margin-left: 12px;
    }

}
